.containerPeticion{
    margin: 1%;
}



.usuarios{
    width: 90%;
    margin: auto;
    padding: 1%;
}
.clasesUser{
    padding: 1%;
}

.contrasenya{
    display: flex;
    align-items: center;
}
.text-primary .font-semibold .text-xl{
color: rgb(255, 123, 184);
}
.text-primary {
    --bs-text-opacity: 1;
    color: rgb(255, 123, 184)!important;
}
.alinearBtn{
    display: flex;
    align-items: center;
}
div.col-12 .altoDiv{
    height: 90vh;
}

.p-sidebar-active .p-sidebar-content {
    min-height: 90vh !important;
}
:host .p-sidebar .p-sidebar-content {
    background-color: red;;
    min-height: 90vh !important;
}

.error {
    color: red
}
// .ng-invalid {
//     border-color: red;
// }