<div>
    <form class="row g-3 fromReserva" [formGroup]="loginForm">
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" class="form-control"
            formControlName="emailAddress" placeholder="name@example.com">
          <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            formControlName="psswdUser">
          <label for="floatingPassword">Contraseña</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="button-circle"
     (click)="loginBack()" pButton [disabled]="loginForm.invalid" icon="pi pi-check"></button>
      </div>
    </form>
  </div>