.altoClases{
    height: 80vh;
}
.pagosDiv{
    width: 90%;
    margin: auto;
    padding: 1%;
}
.red-text {
    color: red;
  }
  
  .green-text {
    color: green;
  }
  .altoClases{
    height: 80vh;
}