<div class="pagosDiv">
    <h2 class="tituloPestañas">Pagos</h2>
        <div class="col-12">
            <p-table #dt1 [value]="nombresPagos" dataKey="id" [rows]="5"
                [globalFilterFields]="['userName', 'payDate', 'typeService']" [paginator]="true" [loading]="loading">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton class="button-circle" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex align-items-center">
                                Usuario
                                <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Fecha
                                <p-columnFilter type="text" field="payDate" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Servicio
                                <p-columnFilter type="text" field="typeService" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Precio
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Método
                            </div>
                        </th>

                        <th>
                            <div class="flex align-items-center">
                                Action
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pay>
                    <tr>
                        <td>
                            {{ pay.userName }}
                        </td>
                        <td>
                            <span class="ml-1 vertical-align-middle">{{ pay.payDate| date:'dd - MM - yyyy' }}</span>
                        </td>
                        <td>
                            <span class="ml-1 vertical-align-middle">{{ pay.typeService }}</span>
                        </td>
                        <td>
                            <span class="ml-1 vertical-align-middle">{{ pay.price }}</span>
                        </td>
                        <td>
                            <div
                                [ngClass]="{'red-text': pay.payMethod === 'Pendiente', 'green-text': pay.payMethod !== 'Pendiente'}">
                                <span class="ml-1 vertical-align-middle">{{ pay.payMethod }}</span>
                            </div>
                        </td>


                        <td>

                            <button icon="pi pi-pencil" class="button-circle" pButton
                                (click)="createPaymentForm(pay)"></button>

                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">Oh vaya! Parece ser que no tienes pago todavía</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>

<!-- Edicion pago -->
<p-sidebar [(visible)]="showPaymentForm">
    <div class="col-12 p-3">
        <p><i class="fa-regular fa-heart"></i>&nbsp;Editar pago</p>
        <form class="row g-3 f  romReserva" [formGroup]="paymentForm">
            <div class="modal-body">
                <div class="form-floating mb-2">
                    <input type="date" class="form-control" placeholder="Fecha de pago" formControlName="payDate">
                    <label for="payDate">Fecha de pago</label>
                </div>
               
                    <div class="form-floating mb-2">
                        <p-dropdown formControlName="priceId" [options]="typeServices" optionLabel="typeService"
                            optionValue="priceId" placeholder="Tipo servicio"></p-dropdown>
                    </div>
                    <div class="form-floating mb-2">
                        <p-dropdown formControlName="payMethod" [options]="payMethods" optionLabel="name"
                            optionValue="name" placeholder="Metodo de pago" ></p-dropdown>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="button-circle" pButton (click)="savePayment()" icon="pi pi-check" [disabled]="paymentForm.invalid"></button>
            </div>
        </form>
    </div>
</p-sidebar>