.perfilDatos {
    color:  rgb(255, 123, 184);
    
}
.p-fieldset{
    width: 80%;
    margin: auto;
}
.p-panel .p-panel-header .p-panel-title {
    border: 1px solid #dee2e6;
    padding: 1.25rem;
    background: #f8f9fa;
    color: rgb(255, 123, 184) !important; 
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.perfil{
    width: 90%;
    margin: auto;
    padding: 1%;
}
.button-circleBlackChanges {
    margin: 2% 0; 
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 7%;
    border-color: #414141;
    width: 11rem;
    height: 3rem;
    text-align: center;
&:enabled:not(:focus):hover,
&:focus {
    border-color:#939393;
    background-color: #626262;
    color:rgb(217, 217, 217)
}

span {
  font-size: 1rem;
}


}

span.pi.pi-heart-fill{
    color:rgb(0, 0, 0)
}

.invalid input {
    border: 2px solid red;
  }
  
.valid input {
    border: 2px solid green;
}

.text-primary .font-semibold .text-xl{
    color: rgb(255, 123, 184);
    }
    .text-primary {
        --bs-text-opacity: 1;
        color: rgb(255, 123, 184)!important;
    }