.contenedorReservas{
    margin: 1%;
   
}

.button-circle{
    margin: 1%;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #ec4899;
    color: #ec4899;
}
