<div class="contenedorReservas">


    <p-tabView> 
        <p-tabPanel header="Peticiones">
        <ng-container *ngIf="this.suggestions">
            <p-table [value]="this.suggestions" [tableStyle]="{ 'min-width': '30rem' }">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-suggestion>
                    <tr>
                        <td>{{ suggestion.commentType }}</td>
                        <td>{{ suggestion.userName }}</td>
                        <td>{{ suggestion.emailUser }}</td>
                        <td>{{ suggestion.peticion }}</td>
                        <td>
                            <button class="button-circle" icon="fa-solid fa-check" (click)="checkedSuggestion(suggestion)" pButton
                                tooltipPosition="top"></button>
                            <button class="button-circle " icon="fa-solid fa-trash"
                                (click)="deleteSugestionDialog(suggestion)" pButton tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </ng-container>
            <p>¡Parece que no tienes peticiones por revisar!</p>
        </p-tabPanel>
        <p-tabPanel header="Peticiones realizadas">

            <p-table [value]="this.suggestionArchived" [tableStyle]="{ 'min-width': '30rem' }">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-suggestion>
                    <tr>
                        <td>{{ suggestion.commentType }}</td>
                        <td>{{ suggestion.userName }}</td>
                        <td>{{ suggestion.emailUser }}</td>
                        <td>{{ suggestion.peticion }}</td>
                        <td>
                            <button class="button-circle " icon="fa-solid fa-trash"
                                (click)="deleteSugestionDialog(suggestion)" pButton tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </p-tabPanel>

        <p-tabPanel header="Reservas">
            <ng-container *ngIf="this.reservasRs">
            <p-table [value]="this.reservasRs" [tableStyle]="{ 'min-width': '30rem' }">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Fecha</th>
                        <th>NºPersonas</th>
                    
                        <th>Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-reserva>
                    <tr>
                        <td>{{ reserva.excursionType }}</td>
                        <td>{{ reserva.reservationName }}</td>
                        <td>{{ reserva.emailAddress }}</td>
                        <td>{{ reserva.dateExcursion | date:'dd - mm - yyyy' }}</td>
                        <td>{{ reserva.numPeople }}</td>
                        <td>
                            <button class="button-circle" icon="fa-solid fa-check" (click)="checkedReserva(reserva)" pButton
                                tooltipPosition="top"></button>
                            <button class="button-circle " icon="fa-solid fa-trash"
                                (click)="deleteReservaDialog(reserva)" pButton tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </ng-container>
        </p-tabPanel>

        <p-tabPanel header="Reservas realizadas">
            <p-table [value]="this.reservasArcvhived" [tableStyle]="{ 'min-width': '30rem' }">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Fecha</th>
                        <th>NºPersonas</th>
                    
                        <th>Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-reserva>
                    <tr>
                        <td>{{ reserva.excursionType }}</td>
                        <td>{{ reserva.reservationName }}</td>
                        <td>{{ reserva.emailAddress }}</td>
                        <td>{{ reserva.dateExcursion | date:'dd - mm - yyyy' }}</td>
                        <td>{{ reserva.numPeople }}</td>
                        <td>
                          
                            <button class="button-circle " icon="fa-solid fa-trash"
                                (click)="deleteReservaDialog(reserva)" pButton tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </p-tabPanel>


    </p-tabView>

</div>




<p-confirmDialog #cd [style]="{width:'50vw'}">
    <ng-template pTemplate="header">
        <h3>Eliminar peticion</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" class="button-circle" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" class="button-circle" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>