<div class="caballo">
  <ng-container *ngIf="userTypeAdmin">
    <div class="col-12">
      <div class="col-12 my-3">
        <p-button class="register" icon="pi pi-plus" (click)="this.createForm(null)"></p-button>
      </div>

      <div class="col-12" *ngIf="this.horses.length <= 0">
        <p-progressSpinner aria-label="Loading"></p-progressSpinner>
      </div>
      <div class="col-12" *ngIf="this.horses.length > 0">
        <p-table [value]="this.horses" [tableStyle]="{'min-width': '40rem'}">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Nombre </th>
              <th>Nº de cuadra</th>
              <th>Alimentación</th>
              <th>Tipo</th>
              <th>Dueño</th>
              <!-- <th>Camara</th> -->
              <!-- <th>Observaciones</th>
              <th>Fecha registro</th> -->
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-horse let-columns="columns">
            <tr>
              <td>{{horse.horseName}}</td>
              <td>{{horse.barnNum}}</td>
              <td>{{horse.foodType}}</td>
              <td>{{horse.horseType}}</td>
              <td>{{horse.ownerName.userName}}</td>
              <!-- <td>{{horse.cameraUrl}}</td>
              <td>{{horse.observation}}</td>
              <td>{{horse.registrationDate}}</td> -->
              <td>
       
                <button
                class="button-circle "
                icon="pi pi-user"
              
                pButton
                pTooltip="+ info"
                tooltipPosition="top"
              ></button>

              <button
              class="button-circle "
              icon="fa-regular fa-pen-to-square"
              (click)="selectHorse(horse)"
              pButton
              pTooltip="Borrar"
              tooltipPosition="top"
            ></button>

              <button
              class="button-circle "
              icon="pi pi-trash"
              (click)="deleteHorseDialog(horse.horseId)"
              pButton
              pTooltip="Borrar"
              tooltipPosition="top"
            ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
    <p-sidebar [(visible)]="showDialog">
      <div class="col-12">
        <p *ngIf="this.createNewHorse === true">Registrar caballo</p>
        <p *ngIf="this.createNewHorse === false">Actualizar caballo</p>
        <div *ngIf="this.currentHorse">
          <form class="row g-3 f  romReserva" [formGroup]="form">
            <div class="modal-body">
              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="horseName">
                <label for="horseName">Nombre</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Barrera" formControlName="barnNum">
                <label for="barnNum">Barrera</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Camara" formControlName="cameraUrl">
                <label for="cameraUrl">Camara</label>
              </div>
              <div class="form-floating mb-2">
                <p-dropdown formControlName="foodType" [options]="foodHorseTypes" optionLabel="name" optionValue="name" placeholder="Comida"></p-dropdown>
              </div>

              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Observaciones" formControlName="observation">
                <label for="observation">Observaciones</label>
              </div>
                 <div class="form-floating mb-2">
                    <input type="date" class="form-control"  placeholder="Fecha registro"
                      formControlName="registrationDate" >
                    <label for="registrationDate">Fecha registro</label>
                  </div>
                 
              <ng-container *ngIf="this.createNewHorse === false">

                <div class="form-floating mb-2">
                  <input type="text" class="form-control" placeholder="Tipo" formControlName="horseType">
                  <label for="horseType">Tipo</label>
                </div>
                <div class="form-floating mb-2">
                  <input type="text" class="form-control" placeholder="Dueño" formControlName="ownerId">
                  <label for="ownerId">Dueño</label>
                </div>
              </ng-container>
          
  
            </div>



           

            <div class="modal-footer">
              <!-- <p-button class="btn btn-primary " icon="pi pi-times" (click)="this.showDialog = false"></p-button> -->

              <p-button type="submit" class="btn btn-primary guardarLogin" icon="pi pi-check" (click)="updateHorse()"></p-button>

            </div>
          </form>
        </div>
      </div>
    </p-sidebar>


    <p-toast></p-toast>
    <p-confirmDialog #cd [style]="{width:'50vw'}">
      <ng-template pTemplate="header">
        <h3>Header Content</h3>
      </ng-template>
      <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
      </ng-template>
    </p-confirmDialog>


  </ng-container>

  <ng-container *ngIf="userTypeOwner">
    <ng-container *ngIf="this.horses.length<=0">
      <p-fieldset class="containerCaballo">
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg caballoDatos">Tu caballo aún no ha sido registrado.</span>
          </div>
        </ng-template>
    
      </p-fieldset>
    </ng-container>
    <ng-container *ngIf="this.horses.length>0">
      <p-fieldset class="containerCaballo" *ngFor="let horse of this.horses">
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg caballoDatos">{{this.horse.horseName}}</span>
          </div>
        </ng-template>
        <p>Nombre:{{this.horse.horseName}} </p>
        <p>Fecha registro:{{this.horse.registrationDate}} </p>
        <p>Número de establo:{{this.horse.barnNum}} </p>
        <p>Alimentación:{{this.horse.foodType}} </p>
        <p>Observación:{{this.horse.observation}} </p>
        <p>Link de cámara:{{this.horse.cameraUrl}} </p>
      </p-fieldset>
    </ng-container>
  </ng-container>
</div>