<div class="caballo">
  <ng-container *ngIf="userTypeAdmin">
    <div class="col-12">
      <div class="col-12 my-3">
        <!-- <button class="button-circleBlack" icon="pi pi-plus" (click)="this.createForm(null)"></button> -->
        <button
        class="button-circleBlack "
        icon="pi pi-plus"
        (click)="this.createForm(null)"
        pButton
        pTooltip="addhorse"
        tooltipPosition="top"
      ></button> 

      </div>

      <div class="col-12" *ngIf="this.horses.length <= 0">
        <p-progressSpinner aria-label="Loading"></p-progressSpinner>
      </div>
      <div class="col-12" *ngIf="this.horses.length > 0">
        <p-table   #dt1
    [value]="horses"
    [paginator]="true"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['horseName', 'barnNum', 'foodType','horseType', 'ownerName']"
 
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton class="p-button-outlined button-circle" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
           
        </div>
    </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <div class="flex align-items-center">
                    Nombre
                    <p-columnFilter type="text" field="horseName" display="menu"></p-columnFilter>
                </div>
            </th>

              <th>Nº de cuadra</th>
              <th>Alimentación</th>
              <th>
                <div class="flex align-items-center">
                  Tipo
          
                    <p-columnFilter type="text" field="horseType" display="menu"></p-columnFilter>
     
                </div>
                
            </th>
             
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-horse let-columns="columns">
            <tr>
              <td>{{horse.horseName}}</td>
              <td>{{horse.barnNum}}</td>
              <td>{{horse.foodType}}</td>
              <td>{{horse.horseType}}</td>
          
              
              <td>
                <button
                class="button-circle "
                icon="pi pi-eye"
                (click)="verCamara()"
                pButton
                pTooltip="Ver directo"
                tooltipPosition="top"
              ></button>
               <button
                class="button-circle "
                icon="pi pi-plus"
                (click)="showInfoHorse(horse)"
                pButton
                pTooltip="+ info"
                tooltipPosition="top"
              ></button> 

              <button
              class="button-circle "
              icon="fa-regular fa-pen-to-square"
              (click)="selectHorse(horse)"
              pButton
              pTooltip="Borrar"
              tooltipPosition="top"
            ></button>

              <button
              class="button-circle "
              icon="pi pi-trash"
              (click)="deleteHorseDialog(horse.horseId)"
              pButton
              pTooltip="Borrar"
              tooltipPosition="top"
            ></button>
              </td>
            </tr>
          </ng-template>
         
        </p-table>
      </div>

    </div>
    <p-sidebar [(visible)]="showInfoDialog"> 

      <div class="col-12" *ngIf="currentHorseInfo">
        
        <p>Nombre: {{currentHorseInfo.horseName}}</p>
        <p>Número de cuadra: {{currentHorseInfo.barnNum}}</p>
        <p>Tipo: {{currentHorseInfo.horseType}}</p>
        <ng-container *ngIf="currentHorseInfo.horseType=='Privado'">
        <p> Dueño: {{ownerName.userName}}</p>
        </ng-container>
        <p>Alimentación: {{currentHorseInfo.foodType}}</p>
        <p>Fecha registro: {{currentHorseInfo.registrationDate | date:'dd - mm - yyyy'}}</p>
        <p>Link a cámara: {{currentHorseInfo.cameraUrl}}</p>
        <p>Observaciones: {{currentHorseInfo.observation}}</p>
      </div>
      
    </p-sidebar>

    <p-sidebar [(visible)]="showDialog">
      <div class="col-12">
        <p *ngIf="this.createNewHorse === true">Registrar caballo</p>
        <p *ngIf="this.createNewHorse === false">Actualizar caballo</p>
        <div *ngIf="this.currentHorse">
          <form class="row g-3 f  romReserva" [formGroup]="form">
            <div class="modal-body">
              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="horseName">
                <label for="horseName">Nombre</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Barrera" formControlName="barnNum">
                <label for="barnNum">Barrera</label>
              </div>
              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Camara" formControlName="cameraUrl">
                <label for="cameraUrl">Camara</label>
              </div>
              <div class="form-floating mb-2">
                <p-dropdown formControlName="foodType" [options]="foodHorseTypes" optionLabel="name" optionValue="name" placeholder="Comida"></p-dropdown>
              </div>

              <div class="form-floating mb-2">
                <input type="text" class="form-control" placeholder="Observaciones" formControlName="observation">
                <label for="observation">Observaciones</label>
              </div>
                 <div class="form-floating mb-2">
                    <input type="date" class="form-control"  placeholder="Fecha registro"
                      formControlName="registrationDate" >
                    <label for="registrationDate">Fecha registro</label>
                  </div>
                 
              <ng-container *ngIf="this.createNewHorse === false">

                <div class="form-floating mb-2">
                  <input type="text" class="form-control" placeholder="Tipo" formControlName="horseType">
                  <label for="horseType">Tipo</label>
                </div>
                <div class="form-floating mb-2">
                  <input type="text" class="form-control" placeholder="Dueño" formControlName="ownerId">
                  <label for="ownerId">Dueño</label>
                </div>
              </ng-container>
          
  
            </div>



           

            <div class="modal-footer">

              <p-button type="submit" class="btn btn-primary guardarLogin" icon="pi pi-check" (click)="updateHorse()"></p-button>

            </div>
          </form>
        </div>
      </div>
    </p-sidebar>


    <p-toast></p-toast>
    <p-confirmDialog #cd [style]="{width:'50vw'}">
      <ng-template pTemplate="header">
        <h3>Eliminar caballo</h3>
      </ng-template>
      <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Sí" (click)="cd.accept()"></button>
      </ng-template>
    </p-confirmDialog>


  </ng-container>

  <ng-container *ngIf="userTypeOwner">
    <ng-container *ngIf="this.horses.length<=0">
      <p-fieldset class="containerCaballo">
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg caballoDatos">Tu caballo aún no ha sido registrado.</span>
          </div>
        </ng-template>
    
      </p-fieldset>
    </ng-container>
    <ng-container *ngIf="this.horses.length>0">
      <p-fieldset class="containerCaballo" *ngFor="let horse of this.horses">
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
           
            <span class="font-bold text-lg caballoDatos">{{this.horse.horseName}}</span>
          </div>
        </ng-template>
        <p>Nombre: <strong>{{this.horse.horseName}}</strong>  </p>
        <p>Fecha registro:<strong>{{this.horse.registrationDate | date:'dd - mm - yyyy'}}</strong>  </p>
        <p>Número de establo:<strong>{{this.horse.barnNum}}</strong>  </p>
        <p>Alimentación:<strong>{{this.horse.foodType}}</strong>  </p>
        <p>Observación:<strong>{{this.horse.observation}}</strong>  </p>
        <p>Link de cámara: <button
          class="button-circle "
          icon="pi pi-eye"
          (click)="verCamara()"
          pButton
          pTooltip="Ver directo"
          tooltipPosition="top"
        ></button> </p>
      </p-fieldset>
    </ng-container>
  </ng-container>
</div>