<div class="contacto p-3">
<h2 class="titulo">¡Como localizarnos!</h2>
  <br>
    <div class="bordeContacto">
  <h4>Contacto</h4>

    <p>&nbsp;&nbsp;<i class="bi bi-telephone"></i> Telefono: <span class="horario">693582471</span>
    </p>
    <p>&nbsp;&nbsp;<i class="bi bi-envelope-paper-heart"></i> Correo electronico:
      <a class="rrss" href="https://mail.google.com/mail/?view=cm&source=mailto&cc=[hipicaalfaro@gmail.com]"
        target="_blank"><span class="horario">hipicaalfaro@gmail.com</span></a>
    </p>

    <p>&nbsp;&nbsp;<i class="bi bi-instagram"></i> Intagram: <a class="rrss"
        href="https://www.instagram.com/hipicaalfaro/" target="_blank"><span class="horario"> @hipicaalfaro</span></a>
    </p>
  </div>
  <br>
<div class="bordeContacto">
  <h4>Ubicación</h4>
  

    <p> &nbsp;&nbsp;<i class="bi bi-geo-alt"></i><a href="https://goo.gl/maps/eyezBzkXnHMDUqRe8" class="rrss"
        target="_blank"><span class="horario"> Calle
        de la diversión, Nº1, CP, 07184, Calviá, Illes Balears</span></a>
    </p>
  </div>

  <br>
   <div class="bordeContacto">
  <h4>Horario</h4>

    <p>&nbsp;&nbsp;<span class="horario">Lunes</span> a <span class="horario">Viernes</span> de <span class="horario">10h</span>-<span class="horario">13h</span> y <span class="horario">16h</span>-<span class="horario">19h</span> </p>
    <p>&nbsp;&nbsp;<span class="horario">Sábado</span> de <span class="horario">10h</span>-<span class="horario">13h</span> </p>

  </div>
  <br>


 <div class="bordeContacto">
  <h5>Para informacion más concreta ¡no dudes en enviarnos tus dudas!</h5>
 

    <form [formGroup]="profileForm">

      <div class="form-group ">
        <label for="name">&nbsp;&nbsp;Nombre: </label>
        <input id="name" type="text" formControlName="userName" placeholder="Hípica Alfaro">
      </div>

      <div class="form-group">
        <label for="email">&nbsp;&nbsp;Email: </label>
        <input id="email" type="text" formControlName="emailUser" placeholder="mari.alfaro@gmail.com">
      </div>

      <div class="form-group">
        <label for="comment">&nbsp;&nbsp;Comentario: </label>
        <textarea class="form-control areaComent" rows="5" id="comment" formControlName="peticion" name="text"
          placeholder="Hola! Soy Mari y mi consulta es..."></textarea>
      </div>
      <div *ngIf="!mnjConfirm" class="btnDerecha">
        <button type="submit" class="btn btn-primary btnEnviar" (click)="onSubmit()"
          [disabled]="profileForm.status!='VALID'">Enviar</button>
      </div>
      <div *ngIf="mnjConfirm" class="btnDerecha">
        <button type="button" disabled class="btn btn-primary btnEnviar ">Comentario enviado</button>
      </div>


    </form>
  </div>


</div>