
.btnEnviar {
  background-color:rgba(0, 0, 0, 0.733) ;
  color: white;
  padding: 1%;
  margin: 1%;
  border-radius: 30%;
  border-color:rgba(0, 0, 0, 0.554) ;
}

.btnEnviar:active, .btnEnviar:hover{
  background-color:rgba(0, 0, 0, 0.793) ;
}

.form-control{
  width: 50%;
}

.bordeContacto{
  background-color: rgba(255, 255, 255, 0.94);
  padding: 2%;
  border-radius: 2%;
}

.rrss{
  color: black;
}

.rrss:hover{
  color:  rgb(255, 33, 177)
}

*{ 
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.contacto {
  width: 90%;
  margin: auto;
}

#name, #email, #comment{
  margin: 4px;
}

h4{
  border-bottom: 1px solid black;
}

.titulo{
text-align: center;
background-color: black;
color: rgb(255, 78, 190);
padding: 1%;
}

.horario{
  font-size: medium;
  font-weight: 600;
  padding: 1%;
}