.alumnos{
font-size: large;
}
.clases:hover {
    color: #ec489ad7;
 text-decoration: none;
    cursor: pointer;
}

.clas{
    width: 90%;
    margin: auto;
    padding: 2%;
}
.altoClases{
    height: 80vh;
    width: 100%;
}
.eliminarUser{
    display: flex;
    justify-content: flex-end;
}
.desplegables{
    display: block;
    padding: 1%;
}