.alumnos{
font-size: large;
}
.clases:hover {
    color: #ec489ad7;
 text-decoration: none;
    cursor: pointer;
}

.clas{
    width: 90%;
    margin: auto;
    padding: 2%;
}

.eliminarUser{
    display: flex;
    justify-content: space-between;
}
.desplegables{
    display: block;
    padding: 1%;
}