<div class="clas">
    <button class="button-circleBlack" icon="pi pi-user-plus" (click)="addUserToClass()" pButton
        pTooltip="Añadir usuario a clase" tooltipPosition="top"></button>
    <p-table #dt1 [value]="clases" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="['classDay', 'classHour', 'classLevel']"
        [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex align-items-center">
                <th><i class="bi bi-suit-heart-fill"></i></th>
</div>
</th>
<th>
    <div class="flex align-items-center">
        Lunes

    </div>
</th>
<th>
    <div class="flex align-items-center">
        Martes


    </div>
</th>
<th>
    <div class="flex align-items-center">
        Miércoles

    </div>
</th>
<th>
    <div class="flex align-items-center">
        Jueves

    </div>
</th>
<th>
    <div class="flex align-items-center">
        Viernes

    </div>
</th>
<th>
    <div class="flex align-items-center">
        Sábado

    </div>
</th>

</tr>
</ng-template>

<ng-template pTemplate="body" let-clases>
    <tr>
        <td>
            {{ clases.classHour }}h
        </td>

        <td class="clases">
            <span *ngIf="clases.lunes !== null" (click)="saberClaseLunes(clases.classHour)"> {{ clases.lunes }}</span>
        </td>
        <td class="clases">
            <span *ngIf="clases.martes !== null" (click)="saberClaseMartes(clases.classHour)"> {{ clases.martes
                }}</span>
        </td>
        <td class="clases">
            <span *ngIf="clases.miercoles !== null" (click)="saberClaseMiercoles(clases.classHour)">{{ clases.miercoles
                }}</span>

        </td>
        <td class="clases">
            <span *ngIf="clases.jueves !== null" (click)="saberClaseJueves(clases.classHour)">{{ clases.jueves }}</span>

        </td>
        <td class="clases">
            <span *ngIf="clases.viernes !== null" (click)="saberClaseViernes(clases.classHour)">{{ clases.viernes
                }}</span>

        </td>
        <td class="clases">
            <span *ngIf="clases.sabado !== null" (click)="saberClaseSabado(clases.classHour)">{{ clases.sabado }}</span>
        </td>


    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>


    </tr>
</ng-template>
</p-table>


</div>

<p-sidebar [(visible)]="showDialog">
    <strong>Usuarios de la clase: </strong> <br>
    <hr>
    <ng-container *ngFor="let user of this.usuarios">
        <div>
            <div class="alumnos">
                <div class="eliminarUser">
                    <div>
                    <i class="fa-regular fa-heart"></i> {{user.userName}}
                </div>
                    <button class="button-circle " icon="pi pi-trash" (click)="deleteClassDialog(user.id)" pButton
                        pTooltip="Borrar" tooltipPosition="top"></button>
                </div>
            </div>
        </div>

    </ng-container>
    <ng-container *ngIf="this.usuarios <=0">

        <p class="alumnos">Oh vaya! Parece que aún no hay alumnos hoy...</p>
    </ng-container>

</p-sidebar>

<p-sidebar [(visible)]="showDialogAddUser">
    <div class="col-12 ">
        <div class="desplegables">
            <label for="">Alumno:</label><br>
            <p-dropdown [options]="allUsers" [(ngModel)]="selectedUser" optionLabel="userName"
                placeholder="Seleciona un alumno"></p-dropdown>
        </div>

        <div class="desplegables">
            <label for="">Nivel:</label><br>
            <p-dropdown [options]="levelUser" [(ngModel)]="selectedLevel" optionLabel="name"
                (onChange)="onChange($event)" placeholder="Seleciona el nivel"></p-dropdown>

        </div>

        <div class="desplegables">
            <ng-container *ngIf="classesDayHour.length>0">
                <label for="">Clases disponibles: </label> <br>
                <p-dropdown [options]="classesDayHour" [(ngModel)]="selectedClass" placeholder="Selecciona el día"
                    optionLabel="classDay">
                    <ng-template let-option pTemplate="item">
                        <span>{{ option.classDay }} - {{ option.classHour }}</span>
                    </ng-template>
                </p-dropdown>
            </ng-container>
        </div>


        <button class="button-circle" icon="pi pi-check" (click)="insertUserToClass()" pButton
            pTooltip="Añadir usuario a clase" tooltipPosition="top" [disabled]="this.insertButtonDisabled"></button>
    </div>
</p-sidebar>

<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width:'50vw'}">
    <ng-template pTemplate="header">
        <h3>Eliminar usuario de clase</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>