.alumnos{
font-size: large;
}
.clases:hover {
    color: #ec489ad7;
 text-decoration: none;
    cursor: pointer;
}
// a {
    
//     color: red;
// }
.clas{
    width: 90%;
    margin: auto;
    padding: 2%;
}