<div class="centro">

  <div class="encabezadoBar">
    <div class="tituloBar">
      <h2>El Bocado Bar</h2>
      <h5>Menú diario</h5>
    </div>
    <div class="preciosBar">Todos los menús incluyen bebida y postre a disponibilidad. <br>
      Precio:<strong> {{price?.price}} € </strong>
    </div>
  </div>
  <div class="bar">
    
 
      <ng-container *ngFor="let menu of menus">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-title"> <i class="fa-regular fa-heart"></i> {{menu.menuDate}} <button *ngIf="editMenuButton" type="submit" class="btn btn-primary guardarLogin" icon="pi pi-pencil" pButton (click)="editMenu(menu)"></button></p>
            <hr>
            <div >{{ menu.menuName }}</div>
          </div>
        </div>
      </ng-container>
      
  
    
    


  </div>


</div>

<p-sidebar [(visible)]="showEditMenu">
<ng-container *ngIf="currentMenu">
  <form [formGroup]="updateMenuForm">
    
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-title"> <i class="fa-regular fa-heart"></i> {{currentMenu.menuDate}}</p>
          <hr>
          <div class="mb-2">
            <input type="text"class="form-control" name="nameMenu" formControlName="nameMenu">
          </div>
          
          <button  type="submit" class="btn btn-primary guardarLogin" (click)="updateMenu()">Guardar</button>
        </div>
      </div>
    
   
  </form>
</ng-container>  
</p-sidebar>