
.encabezadoBar{
  background-color:  #212529;
  color: rgb(255, 78, 190);
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
}

.preciosBar{
  text-align: right;
}

.container-cards {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.card{
  width: 30%;
}
.centroMenu{
  width: 100%;
  margin: 0;
}

.bar{
  width: 100%;
  margin: auto;
  margin-top: 2%;
}

.menu{
  font-weight: 600;
}

.btnEdit {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    div {
      display: flex;
      align-items: center;
    }
  }
