<div class="centroMenu">

  <div class="encabezadoBar mt-2">
    <div class="tituloBar">
      <h2>El Bocado Bar</h2>
      <h5>Menú diario</h5>
    </div>
    <div class="preciosBar">Todos los menús incluyen bebida y postre a disponibilidad. <br>
      Precio:<strong> {{price?.price}} € </strong>
    </div>
  </div>

  <div class="col-12 container-cards mt-2">


    <ng-container *ngFor="let menu of menus">
      <div class="card my-2" >
        <div class="card-body">

          <div class="card-title">
            <div class="btnEdit">
              <div>
                <i class="fa-regular fa-heart"></i> <span class="mx-1">{{menu.menuDate}}</span>
              </div>
              <button *ngIf="editMenuButton" type="submit" class="button-circle" pButton icon="pi pi-pencil"
                (click)="editMenu(menu)"></button>
            </div>
          </div>


          <div>Hoy toca... ¡{{ menu.menuName }}!</div>
        </div>
      </div>
    </ng-container>

  </div>


</div>

<p-sidebar [(visible)]="showEditMenu">
  <ng-container *ngIf="currentMenu">
    <form [formGroup]="updateMenuForm">

      <i class="fa-regular fa-heart"></i> {{currentMenu.menuDate}}
      <hr>

      <input type="text" class="form-control" name="nameMenu" formControlName="nameMenu">
<br>
      <button type="submit" class="button-circle" pButton (click)="updateMenu()" icon="pi pi-check">

      </button>

    </form>
  </ng-container>
</p-sidebar>