<div class="centro">

  <div class="encabezadoBar">
    <div class="tituloBar">
      <h2>El Bocado Bar</h2>
      <h5>Menú diario</h5>
    </div>
    <div class="preciosBar">Todos los menús incluyen bebida y postre a disponibilidad. <br>
      Precio:<strong> {{price?.price}} € </strong>
    </div>
  </div>
  <div class="bar">


    <ng-container *ngFor="let menu of menus">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="tituloMenu">
          <div class="card-title">
            <i class="fa-regular fa-heart"></i> {{menu.menuDate}}

            <button *ngIf="editMenuButton" type="submit" class="button-circle" pButton icon="pi pi-pencil"
              (click)="editMenu(menu)"></button>
          </div>

        </div>
        <hr>
        <div>Hoy toca... ¡{{ menu.menuName }}!</div>
      </div>
  </div>
  </ng-container>






</div>


</div>

<p-sidebar [(visible)]="showEditMenu">
  <ng-container *ngIf="currentMenu">
    <form [formGroup]="updateMenuForm">

      <i class="fa-regular fa-heart"></i> {{currentMenu.menuDate}}
      <hr>

      <input type="text" class="form-control" name="nameMenu" formControlName="nameMenu">



      <button type="submit" class="button-circle" pButton (click)="updateMenu()" icon="pi pi-check">

      </button>



    </form>
  </ng-container>
</p-sidebar>